@use "/src/sass/base/variables.scss" as *;

.promo {
  // position: relative;
  min-height: 100vh;
  background:
    linear-gradient(180deg, #151516 0%, rgba(0, 0, 0, 0) 100%),
    url(/src/img/industrial-nut-processing-conveyor-belt-with-various-nuts-quality-checking-packaging\ 1.jpg)
      73% / cover no-repeat;

  &__title {
    margin-top: 148px;
    line-height: 38px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #fff;
  }
  &__subtitle {
    margin-top: 20px;
    line-height: 23px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #d9d9d9;
  }
  &__btn {
    padding: 12.5px 49px;
    width: 217px;
    height: 45px;
    margin: 40px auto 0 auto;
    text-align: center;
    text-decoration: none;
    color: #333537;
  }
  &__social {
    position: absolute;
    bottom: 50px;
    display: flex;
    column-gap: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  &__icon {
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 8px;
    width: 34px;
    height: 34px;
  }
}
@media screen and (min-width: 768px) {
  .promo {
    &__title {
      margin-top: 71px;
      font-size: 36px;
      line-height: 46px;
    }
    &__subtitle {
      width: 500px;
      margin: 13px auto 0 auto;
      font-size: 20px;
      line-height: 25px;
    }
    &__btn {
      padding: 20px 15px;
      width: 224px;
      height: 60px;
    }
    &__social {
      bottom: 32px;
      right: 20px;
      left: auto;
      transform: none;
    }
  }
}
@media screen and (min-width: 1440px) {
  .promo {
    &__title {
      margin-top: 130px;
      font-size: 48px;
      line-height: 61px;
    }
    &__subtitle {
      margin-top: 18px;
      font-size: 22px;
      line-height: 28px;
    }
    &__btn {
      margin-top: 42px;
      font-size: 18px;
    }
    &__social {
      bottom: 40px;
      right: 100px;
    }
  }
}
@media screen and (min-width: 1920px) {
  .promo {
    &__title {
      margin-top: 191px;
      font-size: 64px;
      line-height: 81px;
    }
    &__subtitle {
      margin-top: 24px;
      font-size: 24px;
      line-height: 30px;
    }
    &__btn {
      margin-top: 60px;
      font-size: 20px;
      width: 260px;
      height: 64px;
    }
    &__social {
      bottom: 52px;
    }
  }
}

.promo2 {
  // position: relative;
  min-height: 100vh;
  background:
    linear-gradient(180deg, #151516 0%, rgba(0, 0, 0, 0) 100%),
    url(/src/img/industrial-nut-processing-conveyor-belt-with-various-nuts-quality-checking-packaging\ 1.jpg)
      73% / cover no-repeat;

  &__title {
    line-height: 38px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #fff;
  }
  &__subtitle {
    margin-top: 20px;
    line-height: 23px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #d9d9d9;
  }
  &__btn {
    padding: 12.5px 49px;
    width: 217px;
    height: 45px;
    margin: 40px auto 0 auto;
    text-align: center;
    text-decoration: none;
    color: #333537;
  }
  &__social {
    position: absolute;
    bottom: 50px;
    display: flex;
    column-gap: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  &__icon {
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 8px;
    width: 34px;
    height: 34px;
  }
}
